{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée </h1>

    <p>
        La page que vous demandez n'existe pas. <a href="{{ path('homepage') }}">Retourner sur la page d'accueil</a>.
    </p>
{% endblock %}